# Server environment variables
PORT=5000
MONGO_URI=mongodb://localhost:27017/roy_mart
JWT_SECRET=changeme_jwt_secret
JWT_EXPIRES_IN=1d
CLIENT_URL=http://localhost:5173

# Client (Vite)
VITE_API_URL=http://localhost:5000/api
